html{
  height: 100%;
}

body{
  background-color: rgb(0, 0, 0);
  margin: 0;
  padding: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.main-title{
  color: rgb(132, 192, 142);
  text-align: center;
}

div p{
  color: rgb(0, 0, 0);
}

.list-wrapper{
  background-color: white;
  width: 90%;
  max-width: 500px;
  max-height: 400px;
  overflow-y: auto;
  height: 50%;
  border-radius:5px;
  box-shadow: 0 0 10px rgb(255, 255, 255);
}

.list-w{
  display: flex
}

li{
  list-style-type: none;
  padding:10px 10px 15px 10px;
  border-bottom: 1px solid rgb(0, 0, 0);
}

.icons img {
  width: 24px; 
  height: 24px; 
}

.perfil{
  border-radius: 10px;
  margin-right: 10px;
  box-shadow: 0 0 10px rgb(163, 159, 159);
}

.list-item__name{
  font-weight: bold;
  font-size: 24px;
  color: rgb(0, 0, 0);
  margin:0;
  margin-top: 5px;
  margin-left: 5px;
}

.list-item__email{
  font-size: 16px;
  color: rgb(83, 79, 79);
  margin: 0;
  margin-left: 5px;
}

.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}

.list-item__action {
  display: flex;
  align-items: center; /* Alinha verticalmente ao centro */
  margin-left: auto; /* Empurra o conteúdo para a direita */
  gap: 30px; /* Espaçamento entre os ícones */
  opacity: 70%;
}

.list-item__action:hover{
  opacity: 100%;
}